[workspace]
resolver = "3"
members = ["benches", "client", "comparator", "compute-server", "fe", "fuzzy_hashes", "instance-server", "messages"]

[profile.release]
debug = true
codegen-units = 1
lto = "fat"
panic = "abort"
